@import '../../styles/variables.scss';

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo a{
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&__menu{
		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 20px;
			line-height: 32px;

			li{
				margin: 0 12px;

				a{
					transition: all .5s ease;
				}
				a.active{
					color: $primary;
				}
				a:hover{
					color: $primary;
				}
			}
		}
	}
}